<%= render  "shared/header" %>



    <div class = "user-profile">
      <div class ="name-profile">
        <h1><%= @user.name %>さん</h1>
        <%=@user.profile%>
      </div>
    </div>



<div class="contents_row">
  <h3><%= @user.name %>さんの投稿一覧</h3>
  <div class = "recipe"> 
    <% @user.recipes.each do |recipe|%>
      <ul class='recipe-lists'>
        <li class='list'>
          <%= link_to recipe_path (recipe.id) do %>
            <div class='recipe-img-content'>
              <%= image_tag recipe.image , class:"recipe-img"%>
            </div>
            <div class='recipe-info'>
              <h3 class='recipe-name'>
              <%= recipe.name %>
              </h3>
            <div class='recipe-outline'>
              <span><%= recipe.outline %>
            </div>
            </div>
        </li>
          <% end %>
      </ul>
    <% end %>
  </div>
</div>

